@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Index";  
}

<div class="container-fluid">
    <h2>User Index Page</h2>
</div>
